<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css" media="screen">

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 160vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 0px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.title{
    padding: 6px;
}

.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}


.user-details .input-box input:focus
{
  border-color: #9b59b6;
}

 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }

 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }

 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }

 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }

 form input[type="radio"]{
   display: none;
 }

 form .button{
   height: 45px;
   margin: 35px 0
 }

 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }

 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }

  .input-box input:hover{
    outline: 0;
    border-color: #777;
}

.input-box.success input {
  border-color: #09c372;
}

.input-box.error input {
  border-color: #ff3860;
}

.input-box .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

 @media(max-width: 584px){
 .container{
  max-width: 100%;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }

  form .category{
    width: 100%;
  }

  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar{
    width: 5px;
  }

  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }

}


    </style>
   </head>
<body>
  <div class="container">
    <div class="title">Employee Registration Form</div>
    <div class="content">
      <form action="/company_form/api/users" method="POST" class="form" id="update_employee">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" id="name" value="<%=user_data.name%>" placeholder="Enter your name" autocomplete="off" required>
            <div class="error"></div>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" id="email" value="<%=user_data.email%>" placeholder="Enter your email" autocomplete="off" required>
            <div class="error"></div>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="number" id="phone" value="<%=user_data.phone%>" placeholder="Enter your number" required>
            <div class="error"></div>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" id="password" placeholder="Enter your password" required>
            <div class="error"></div>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" id="cpassword" placeholder="Confirm your password" required>
            <div class="error"></div>
          </div>
          <div class="input-box">
            <span class="details">Batch</span>
            <input type="number" id="batch" value="<%=user_data.batch%>" placeholder="Enter your Batch" required>
            <div class="error"></div>
          </div>
          <div class="input-box">
            <span class="details">CPI</span>
            <input type="number" step="0.01" id="cpi" value="<%=user_data.cpi%>" placeholder="Enter your CPI" required>
            <div class="error"></div>
          </div>
          <div class="input-box">
            <span class="details">Age</span>
            <input type="number" id="age" value="<%=user_data.age%>" placeholder="Enter your Age" required>
            <div class="error"></div>
          </div>
          <div class="input-box">
            <span class="details">Tech-stack</Tech-stack></span>
            <input type="text" id="techstack" value="<%=user_data.techstack%>" placeholder="i.e:- HTML,CSS,Js" required>
            <div class="error"></div>
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefer not to say</span>
            </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Save">
        </div>
        
      </form>
    </div>
  </div>

  <script type="text/javascript">
    const form = document.getElementById('form');
    const name = document.getElementById('name');
    const email = document.getElementById('email');
    const phone = document.getElementById('phone');
    const password = document.getElementById('password');
    const cpassword = document.getElementById('cpassword');
    const cpi = document.getElementById('cpi');
    const age = document.getElementById('age');

  

  var lots_of_stuff_already_done = false;

  $('.button').on('submit', function(e) {
      if (lots_of_stuff_already_done) {
          lots_of_stuff_already_done = false; // reset flag
          return; // let the event bubble away
      }

      e.preventDefault();

      validateInputs();

      lots_of_stuff_already_done = true; // set flag
      $(this).trigger('submit');
  });

  const setError = (element, message) => {
    const inputControl = element.parentElement;
    const errorDisplay = inputControl.querySelector('.error');

    errorDisplay.innerText = message;
    inputControl.classList.add('error');
    inputControl.classList.remove('success')
  }

  const setSuccess = element => {
    const inputControl = element.parentElement;
    const errorDisplay = inputControl.querySelector('.error');

    errorDisplay.innerText = '';
    inputControl.classList.add('success');
    inputControl.classList.remove('error');
  };

  const isValidEmail = email => {
    const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
  }

  const validateInputs = () => {
    const nameVal = name.value.trim();
    const emailVal = email.value.trim();
    const phoneVal = phone.value.trim();
    const passwordVal = password.value.trim();
    const cpasswordVal = cpassword.value.trim();
    const cpiVal = cpi.value.trim();
    const ageVal = age.value.trim();

    if(nameVal === '') {
        setError(name, 'Username is required');
    } else {
        setSuccess(name);
    }

    if(emailVal === '') {
        setError(email, 'Email is required');
    } else if (!isValidEmail(emailVal)) {
        setError(email, 'Provide a valid email address');
    } else {
        setSuccess(email);
    }

    if(passwordVal === '') {
        setError(password, 'Password is required');
    } else if (passwordVal.length < 8 ) {
        setError(password, 'Password must be at least 8 character.')
    } else {
        setSuccess(password);
    }

    if(cpasswordVal === '') {
        setError(cpassword, 'Please confirm your password');
    } else if (cpasswordVal !== passwordVal) {
        setError(cpassword, "Passwords doesn't match");
    } else {
        setSuccess(cpassword);
    }

    if(phoneVal === '') {
        setError(phone, 'Phone no. is required');
    } else if (phoneVal.length != 10 ) {
        setError(phone, 'phone no. must be of 10 numbers.')
    } else {
        setSuccess(phone);
    }

    if(cpiVal === '') {
        setError(cpi, 'cpi is required');
    } else if (cpiVal > 10 ) {
        setError(cpi, 'CPI must be less than 10 .');
    } else {
        setSuccess(cpi);
    }

    if(ageVal === '') {
        setError(age, 'cpi is required');
    } else {
        setSuccess(age);
    }

  };
    
  </script>

</body>
</html>